* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Rubik', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


button {
	background: none;
	border: none;
	font-weight: 500;

}

button:hover {
	cursor: pointer;
}

a {
	text-decoration: none;
}



/* Scrollbar Container */
.simplebar-track{
	overflow: visible !important;
}
.simplebar-scrollbar::before {
	left: 21px !important;
  }
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
	width: 4px;
	/* height: 500px; */
	background-color: #BDBDBD !important;
	border-radius: 2px;
	opacity: 1;
	right: -10px !important;
}




